main {
	.m_nav {
		padding: 14px 0;
		ul {
			display: inline-block;
			transform: translateY(2px);
			li {
				float: left;
				span {
					font-size: 12px;
				}
			}
		}
	}
	.m_filtrate {
		background-color: #F7F7F7;
		border: 1px solid #D7D7D7;
		margin-bottom: 16px;
		dl dd, dl dt {
			float: left;
			padding: 10px;
			border-right: 1px solid #D7D7D7;
			font-size: 14px;
			input {
				width: 40px;
				height: 16px;
				outline: none;
				text-align: center;
			}
			button {
				border: 1px solid #ccc;
				background-color: transparent;
				margin-left: 5px;
				border-radius: 2px;
				transform: translateY(2px);
				outline: none;
				cursor: pointer;
			}
		}
		dl dd {
			cursor: pointer;
			&:hover {
				background-color: #fff;
				color: #26C9FF;
				.iconfont {color: #f00;}
				button {
					color: #26C9FF;
					&:hover {color: #555;}
				}
			}
			&:last-child {
				cursor: default;
				padding: 8px;
			}
		}
		dl .active {
			color: #26C9FF;
			.iconfont {color: #f00;}
			background-color: #fff;
		}
		.m_right {
			padding-top: 6px;
			span {
				padding: 4px;
				color: #26C9FF;
				border: 1px solid #ccc;
				cursor: pointer;
				margin-right: 5px;
				background-color: #fff;
				display: inline-block;
				&:hover {
					border: 1px solid #f00;
					background-color: #00f;
					color: #fff;
				}
			}
		}
	}
	.m_goods {
		
	}
	.m_page {}
}