header {
	.h_left {
		height: 80px;
		margin-right: 20px;
		a {
			display: inline-block;
			padding-top: 10px;
			img {display: block;}
		}
	}
	.h_middle {
		padding: 8px 18px;
		background-color: #FEF2F2;
		border: 1px solid #FFB4A8;
		margin-top: 22px;
	}
	.h_right {
		margin-top: 22px;
		a {
			display: inline-block;
			line-height: 30px;
			text-align: center;
			color: #fff;
			background-color: #2F97F0;
			padding: 0 20px;
			border-radius: 4px;
		}
	}
}

main {
	background-color: #FAFAFA;
	.center {
		background-color: #fff;
		border: 1px solid #CCCCCC;
		padding: 20px;
		margin: 25px 0;
		position: relative;
		left: 50%;
		display: inline-block;
		transform: translateX(-50%);
		.m_left {
			border-right: 1px solid #E6E6E6;
			padding-right: 20px;
			h2 {
				text-align: center;
				font-size: 20px;
				padding: 16px 0;
				border-bottom: 3px solid #2F97F0;
				color: #2F97F0;
				position: relative;
				margin-bottom: 30px;
				font-weight: normal;
				&:after {
					content: "";
    				border: 12px solid transparent;
    				border-top-color: #2F97F0;
    				position: absolute;
    				bottom: -24px;
    				left: 50%;
    				transform: translateX(-50%);
				}
			}
			.content {
				padding: 0 100px;
				label {
					display: block;
					margin-bottom: 25px;
					overflow: hidden;
					span {
						float: left;
						width: 100px;
						text-align: center;
						padding: 20px 0;
						border: 1px solid #ccc;
						border-right: none;
						cursor: pointer;
					}
					input {
						float: left;
						width: 260px;
						padding: 20.5px 0;
						border: 1px solid #ccc;
						border-left: none;
						outline: none;
					}
					.warn {
						display: block;
						color: transparent;
						font-size: 16px;
					}
				}
				.check_code {
					input {width: 140px;}
					div {
						float: left;
						width: 118px;
						height: 56px;
						line-height: 58px;
						text-align: center;
						cursor: pointer;
						border: 1px solid #ccc;
						font-size: 24px;
					}
				}
				button {
					margin-top: 14px;
    				margin-bottom: 10px;
    				cursor: pointer;
    				outline: none;
    				padding: 15px 160px;
    				color: #fff;
    				border: none;
    				background-color: #2F97F0;
    				border-radius: 4px;
				}
			}
		}
		.m_right {
			padding: 18px;
			h2 {
				padding: 20px 0;
				font-size: 16px;
				font-weight: normal;
				color: #000;
			}
			.m_top {
				.iconfont {
					margin-right: 8px;
					font-size: 40px;
					cursor: pointer;
				}
				.qq {color: #3EB6E8;}
				.wb {color: #F77767;}
			}
			.m_bottom {
				ul {
					li {
						margin-bottom: 20px;
						span {
							font-size: 34px;
							margin-right: 8px;
							position: relative;
							top: 4px;
						}
						&:nth-child(1) span {color: #3EB6E8;}
						&:nth-child(2) span {color: #F77767;}
						&:nth-child(3) span {color: #5AC303;}
						&:nth-child(4) span {color: #C07830;}
						&:nth-child(5) span {color: #FBAC05;}
						&:nth-child(6) span {color: #C066BC;}
					}
				}
			}
		}
	}
}

footer {
	.f_top {
		padding: 180px 0 26px 0;
		background: #F4F3F3 url('../img/f_top.png') center 35px no-repeat;
		.f_left {
			margin-right: 50px;
			img {display: block;}
			p {text-align: center}
		}
		.f_middle {
			ul li {
				float: left;
				padding: 0 32px;
				border-right: 1px solid #EAEAEA;
				dl {
					dt {
						padding: 10px 0 20px 0;
						font-size: 18px;
						font-weight: bold;
						color: #525252;
					}
					dd {
						padding-bottom: 20px;
						font-size: 16px;
						a {
							color: #535353;
							&:hover {text-decoration: underline;}
						}
						button {
							padding: 10px 20px;
							background-color: #F4F3F3;
							border: 1px solid #535353;
							border-radius: 4px;
							outline: none;
							cursor: pointer;
						}
					}
				}
				&:last-child {
					border-right: none;
				}
			}
		}
		.f_right {
			margin-right: 50px;
			p {
				padding: 10px 0 20px 0;
				font-size: 18px;
				font-weight: bold;
				color: #525252;
			}
			span {
				padding: 10px 20px 10px 0;
				font-size: 45px;
				&:nth-child(2) {color: #5CC349;}
				&:last-child {color: #F5A71F;}
			}
		}
	}
	.f_bottom {
		margin-top: 35px;
		ul li {
			float: left;
			padding-right: 52px;
			font-size: 14px;
		}
		p {
			margin: 20px;
			text-align: center;
		}
		a {
			transition: color 0.4s linear;
			&:hover {
				color: #f00;
				text-decoration: underline;
			}
		}
	}
}